<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
<%- include('../partials/header')%>
<div class="userMancha">
    <img src="/images/manchas/pngwing.com (7).png" alt="">
</div>
    <main class="usersForm-container">
       
        <h3 class="userTitle">Registrate</h3>
        <form action="/users/register" method="POST" id="registerform" enctype="multipart/form-data" class="form-ad" >
            <div class="form-ad-input">
                <input id="name" type="text" name="name" placeholder="Nombre" value="<%= locals.old && old.name %>">
                <% if (locals.errors && errors.name) { %>
                    <small class="text-danger"><%= errors.name.msg %> </small>
                    <% } %>
                    <small class="text-danger" id="nameErrors"></small>
            </div>
            <div class="form-ad-input">
                <input id="lastname" type="text" name="last_name" placeholder="Apellido" value="<%= locals.old && old.last_name %>">
                <% if (locals.errors && errors.last_name) { %>
                    <small class="text-danger"><%= errors.last_name.msg %> </small>
                <% } %>
                <small class="text-danger" id="lastnameErrors"></small>
            </div>
            <div class="form-ad-input">
                <input type="email" id="email" name="email" placeholder="Ingresá tu email" >
                <% if (locals.errors && errors.email) { %>
                    <small class="text-danger"><%= errors.email.msg %> </small>
                <% } %>
                <small class="text-danger" id="emailErrors"></small>
            </div>
            <div class="form-ad-input">
                <input type="password" id="pass" name="pass1" placeholder="Contraseña">
                <% if (locals.errors && errors.pass1) { %>
                    <small class="text-danger"><%= errors.pass1.msg %> </small>
                <% } %>
                <small class="text-danger" id="passErrors"></small>
            </div>
            <div class="form-ad-input">
                <input type="password" id="pass2" name="pass2" placeholder="Repetir contraseña">
                <% if (locals.errors && errors.pass2) { %>
                    <small class="text-danger"><%= errors.pass2.msg %> </small>
                <% } %>
                <small class="text-danger" id="pass2Errors"></small>
            </div>
            <div class="input-file">
                <p>Agregar foto</p>
                <input type="file" name="avatar">
            </div>
            <div class="form-ad-input_check">
                <input type="checkbox" name="terms" id="check">
                <label for="check">Acepto los términos y condiciones</label>
                <% if (locals.errors && errors.terms) { %>
                    <small class="text-danger"><%= errors.terms.msg %> </small>
                <% } %>
                <small class="text-danger" id="termsErrors"></small>
            </div>
            <small class="text-danger" id="submitErrors"></small>
            <button type="submit" class="btn btn-ad-primary">
                REGISTRATE
            </button>
            <a href="/users/login" class="userLink">Ya tengo cuenta</a>
        </form>
    </main>
<%- include('../partials/footer')%>
<script src="/js/validations/formRegisterValidations.js"></script>

</body>
</html>